<!DOCTYPE html>
<html lang="id">

<head>
  <title>bologhu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* -------------------------------------
          GLOBAL RESETS
      ------------------------------------- */

    body {
      background-color: #f8f8f8;
      font-family: sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      min-width: 360px;
    }

    .clearfix:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }


    /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */

    .box {
      margin: 0;
      padding: 0;
    }

    .box .left {
      float: left;
      margin: 0 0 0 10px;
      width: 60px;
    }

    .box .right {
      float: right;
      margin: 0 10px 0 0;
      width: 70%;
    }

    .icon {
      width: 60px;
      height: 60px;
    }

    .icon.app {
      fill: #FDD048;
    }

    .icon.success {
      fill: #2fb36e;
    }

    .icon.error {
      fill: #ac403c;
    }

    .header {
      height: 60px;
      line-height: 60px;
      background-color: #153643;
      color: #ffffff;
      margin-bottom: 30px;
      border-bottom: solid 2px #2fb36e;
    }

    .logo {
      height: 100%;
      text-align: right;
      font-size: 30px;
      font-weight: bold;
    }

    .logo span {
      display: inline-block;
    }

    .logo span:last-child {
      color: #2fb36e;
    }

    .content .box{
      background-color: #ffffff;
      border: solid 1px #c4ead6;
      padding: 20px 5px;
      margin: 0 10px 10px 10px;
      text-align: center;
    }

    .content .box h3{
      margin: 5px 0 0 0;
    }

    .btn-link {
      width: 120px;
      text-align: center;
      display: inline-block;
      background-color: #2fb36e;
      text-decoration: none;
      padding: 2px 0;
      color: #f8f8f8;
      font-size: 15px;
      font-weight: bold;
    }

    .btn-link:hover {
      background-color: #25c472;
      color: #ffffff;
    }

    @media (min-width: 576px) {

      .header {
        height: 70px;
        line-height: 70px;
      }

      .logo {
        font-size: 40px;
      }

      .box{
        width: 550px;
        margin: 0 auto;
      }

      .content .box{
        width: 550px;
        margin: 0 auto;
      }

      .box .left {
        padding: 0;
        width: 70px;
        margin: 0;
      }

      .box .right {
        margin: 0;
      }

      .icon {
        width: 70px;
        height: 70px;
      }

      .btn-link {
        width: 130px;
        font-size: 20px;
        padding: 5px 15px;
      }

    }

    @media (min-width: 768px) { 
      .box{
        width: 700px;
      }

      .content .box{
        width: 700px;
        margin: 0 auto;
      }

     }

  </style>
</head>

<body>
  <div class="header">
    <div class="box clearfix">
      <div class="left">
        <svg class="icon app" viewbox="0 0 24 24">
          <path
            d="M7.074 1.408c0-.778.641-1.408 1.431-1.408.942 0 1.626.883 1.38 1.776-.093.336-.042.695.138.995.401.664 1.084 1.073 1.977 1.078.88-.004 1.572-.408 1.977-1.078.181-.299.23-.658.139-.995-.247-.892.435-1.776 1.379-1.776.79 0 1.431.63 1.431 1.408 0 .675-.482 1.234-1.117 1.375-.322.071-.6.269-.77.548-.613 1.017.193 1.917.931 2.823-1.211.562-2.525.846-3.97.846-1.468 0-2.771-.277-3.975-.84.748-.92 1.555-1.803.935-2.83-.168-.279-.446-.477-.768-.548-.636-.14-1.118-.699-1.118-1.374zm3.926 7.531c-1.709-.135-3.271-.599-4.703-1.435-.217.359-.421.738-.601 1.146-.227.514-.646.552-.941.437l-2.295-.89c-.542-.21-1.153.051-1.367.584-.213.533.053 1.136.594 1.346l2.231.866c.496.192.854.694.773 1.274-.106.758-.683 1.111-1.235 1.111h-2.402c-.582 0-1.054.464-1.054 1.037s.472 1.037 1.054 1.037h2.387c.573 0 1.159.372 1.265 1.057.112.728-.228 1.229-.751 1.462l-2.42 1.078c-.53.236-.766.851-.526 1.373s.865.753 1.395.518l2.561-1.14c.307-.137.688-.106.901.259.922 1.587 2.674 3.361 5.134 3.941v-15.061zm9.559 6.513h2.387c.583 0 1.055-.464 1.055-1.037s-.472-1.037-1.055-1.037h-2.402c-.574 0-1.137-.393-1.227-1.052-.092-.677.286-1.147.766-1.333l2.23-.866c.541-.21.808-.813.594-1.346-.213-.533-.825-.795-1.367-.584l-2.294.891c-.329.127-.734.036-.926-.401-.185-.423-.396-.816-.62-1.188-1.433.829-3.008 1.3-4.699 1.439v15.062c2.406-.567 4.134-2.284 5.072-3.837.262-.432.629-.514.964-.364l2.561 1.14c.528.236 1.154.005 1.395-.518.239-.522.005-1.137-.526-1.373l-2.42-1.078c-.494-.221-.867-.738-.764-1.383.128-.803.717-1.135 1.276-1.135z" />
        </svg>
      </div>
      <div class="right logo">
        <span>bologhu</span><span>.com</span>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="box">
      {{#if status}}
      <svg class="icon success" viewbox="0 0 24 24">
        <path d="M20 12.194v9.806h-20v-20h18.272l-1.951 2h-14.321v16h16v-5.768l2-2.038zm.904-10.027l-9.404 9.639-4.405-4.176-3.095 3.097 7.5 7.273 12.5-12.737-3.096-3.096z"/>
      </svg>
      {{else}}
      <svg class="icon error" viewbox="0 0 24 24">
        <path d="M16.142 2l5.858 5.858v8.284l-5.858 5.858h-8.284l-5.858-5.858v-8.284l5.858-5.858h8.284zm.829-2h-9.942l-7.029 7.029v9.941l7.029 7.03h9.941l7.03-7.029v-9.942l-7.029-7.029zm-8.482 16.992l3.518-3.568 3.554 3.521 1.431-1.43-3.566-3.523 3.535-3.568-1.431-1.432-3.539 3.583-3.581-3.457-1.418 1.418 3.585 3.473-3.507 3.566 1.419 1.417z"/>
      </svg>
      {{/if}}
      <h3>{{msg}}</h3>
    </div>
  </div>
</body>

</html>