<!DOCTYPE html>
<html lang="id">

<head>
    <title>BOLOGHU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 10px;
            padding: 0;
        }

        a{
            color: #5bc0de;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
        }

        a:hover{
            color: #3e97b3;
        }
    </style>
</head>

<body>
    <div style="margin: 30px 0;">Hi <strong>{{username}}</strong>,</div>

    <p>
        Click following link to change your password.
    </p>
    <p>
        <a href="{{url}}">Click this link</a>
    </p>

    <div style="margin: 30px 0;">Kind Regards,</div>
    <div><strong>admin@bologhu.com</strong></div>
</body>

</html>