<!DOCTYPE html>
<html lang="id">

<head>
    <title>BOLOGHU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 10px;
            padding: 0;
        }

        a{
            color: #5bc0de;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
        }

        a:hover{
            color: #3e97b3;
        }
    </style>
</head>

<body>
    <div style="margin: 0 0 10px 0;">Hi <strong>{{username}}</strong>,</div>

    <div style="margin: 0 0 2px 0;">
        Thank you for registering to bologhu.com. Click following link to confirm.
    </div>
    <div>
        <a href="{{{url}}}">Click this link</a>
    </div>

    <div style="margin: 30px 0;">Kind Regards,</div>
    <div><strong>admin@bologhu.com</strong></div>
</body>

</html>