body{
    min-width: 500px;
}

.swagger-ui .highlight-code {
    overflow: auto;
    width: 300px;
}

@media (min-width: 576px) {
    .swagger-ui .highlight-code {
        width: calc(576px - 250px);
    }
}

@media (min-width: 768px) {
    .swagger-ui .highlight-code {
        width: calc(768px - 250px);
    }
}

@media (min-width: 992px) {
    .swagger-ui .highlight-code {
        width: calc(992px - 250px);
    }
}

@media (min-width: 1200px) {
    .swagger-ui .highlight-code {
        width: calc(1200px - 250px);
    }
}

.swagger-ui .response-col_links{
    width: 0;
    min-width: 0;
    display:none;
}

.swagger-ui input[type=email]::placeholder, 
.swagger-ui input[type=file]::placeholder,
.swagger-ui input[type=password]::placeholder,
.swagger-ui input[type=search]::placeholder,
.swagger-ui input[type=text]::placeholder, 
.swagger-ui textarea::placeholder{
    color: #dddddd;
}

.parameters-col_description .renderedMarkdown p{
    margin: 0 0 2px 0;
}